a{
    text-decoration:none;
}
html{
    background-color:white;
    height:2000px;
    scroll-behavior: smooth;
}
body { 
    margin: 0px;
    -webkit-text-size-adjust: 100%;
 }
 /*ここからパソコン用CSS*/
 @media screen and (min-width:767px){
.header{
    height:100px;
    background-color: white;
    width:100%;
}
.profile{
    padding-left:100px;
    color:#808080;
    font-size:30px;

}
.profile:hover{
    color:red;
}
.head{
    padding-top:30px;
    padding-left:270px;
    font-size:30px;
}
.twitter{
    color:#00FFFF;
}
.insta{
    color:#FF3366;
}
.photo1{
    display:block;
    width:100%;
    padding-bottom:100px;
}
.border{
    padding-bottom:10px;
    width:1300px;
    font-size:40px;
    color:black;
    font-family:arial black;
    border-bottom:solid 2px #EEEEEE;
    position:relative;
}
.border2::after{
    padding-bottom:10px;
    content:"";
    display:block;
    border-bottom:solid 2px red;
    position:absolute;
    width:190px;
}
.topic{
    padding-left:260px;
    padding-bottom:30px;
}
.partofportfolios{
    border:medium solid black;
    width:270px;
    height:280px;
    margin-right:10px;
}
.partofportfolios:hover{
    opacity: 0.7;
}
.portfolios{
    padding-left:260px;
    padding-bottom:100px;
}
.learningtext{
    padding-top:20px;
    text-align:center;
    font-family:Comic Sans MS;
    font-size:35px;
    color:black;
}
.opa{
    display:inline-block;
    position:relative;
}
.opa:hover{
    opacity:0.7;
}
.imgon{
    position:absolute;
    font-weight:bold;
    text-align:center;
    font-family:Comic Sans MS;
    font-size:35px;
    color:black;
    top:0;
    padding-left:50px;
    padding-top:60px;
}
.portfolios p{
    position:absolute;
}
.learningtext:hover{
    color:red;
}
.foottop{
    border-top:medium solid #EEEEEE;
    margin-top:100px;
    height:100px;
    background-color:red;
    margin-bottom:80px;
}
#page_top{
    padding-right:300px;
    padding-top:25px;
    width: 60px;
    height: 60px;
    right: 0;
    bottom: 0;
    color:white;
    float:right;
  }
#page_top a{
    width: 60px;
    height: 60px;
    text-decoration: none;
  }
#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f139';
    font-size: 50px;
    color: white;
  }
.footer{
    padding-top:80px;
    padding-bottom:100px;
    border-top:medium solid #EEEEEE;
}
.footerprofile{
    margin-left:260px;
    padding-left:20px;
    font-size:25px;
    border-left:solid 15px #EEEEEE;
}
.footerprofile:hover{
    color:red;
}
.footerintro{
    color:black;
}
 }
/*ここからタブレット用CSS*/
@media screen and(max-width:767px){

}
/*ここからスマホ用CSS*/
@media screen and(max-width:479px){

}